In [5]:
from nba_api.stats.endpoints import commonplayerinfo
from nba_api.stats.static import teams, players
from nba_api.stats.endpoints import leaguegamefinder
import pandas as pd
import requests

In [9]:
players.find_players_by_full_name('Kentavious')

[{'id': 203484,
  'full_name': 'Kentavious Caldwell-Pope',
  'first_name': 'Kentavious',
  'last_name': 'Caldwell-Pope',
  'is_active': True}]

In [10]:
# Basic Request
player_info = commonplayerinfo.CommonPlayerInfo(player_id=203484)

In [15]:
nba_teams = teams.get_teams()
# Select the dictionary for the Celtics, which contains their team ID
lakers = [team for team in nba_teams if team['abbreviation'] == 'LAL'][0]
lakers_id = lakers['id']
lakers

{'id': 1610612747,
 'full_name': 'Los Angeles Lakers',
 'abbreviation': 'LAL',
 'nickname': 'Lakers',
 'city': 'Los Angeles',
 'state': 'California',
 'year_founded': 1948}

In [16]:
# Query for games where the Lakers were playing
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=lakers_id)
# The first DataFrame of those returned is what we want.
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612747,LAL,Los Angeles Lakers,0022000897,2021-04-22,LAL @ DAL,None,51,24,...,0.833,4,6,10,5,2,0,0,4,-1.0
1,22020,1610612747,LAL,Los Angeles Lakers,0022000875,2021-04-19,LAL vs. UTA,L,240,97,...,0.680,5,27,32,17,10,1,10,14,-14.0
2,22020,1610612747,LAL,Los Angeles Lakers,0022000855,2021-04-17,LAL vs. UTA,W,264,127,...,0.870,11,41,52,26,8,8,14,14,12.0
3,22020,1610612747,LAL,Los Angeles Lakers,0022000842,2021-04-15,LAL vs. BOS,L,240,113,...,0.684,11,25,36,28,12,2,8,16,-8.0
4,22020,1610612747,LAL,Los Angeles Lakers,0022000825,2021-04-13,LAL @ CHA,W,240,101,...,0.944,8,30,38,24,9,2,11,18,8.0

In [18]:
# Subset the games to when the last 4 digits of SEASON_ID were 2019.
fil = games.SEASON_ID.str[-4:] == '2019'
games_1920 = games
games_1920.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612747,LAL,Los Angeles Lakers,0022000897,2021-04-22,LAL @ DAL,None,51,24,...,0.833,4,6,10,5,2,0,0,4,-1.0
1,22020,1610612747,LAL,Los Angeles Lakers,0022000875,2021-04-19,LAL vs. UTA,L,240,97,...,0.680,5,27,32,17,10,1,10,14,-14.0
2,22020,1610612747,LAL,Los Angeles Lakers,0022000855,2021-04-17,LAL vs. UTA,W,264,127,...,0.870,11,41,52,26,8,8,14,14,12.0
3,22020,1610612747,LAL,Los Angeles Lakers,0022000842,2021-04-15,LAL vs. BOS,L,240,113,...,0.684,11,25,36,28,12,2,8,16,-8.0
4,22020,1610612747,LAL,Los Angeles Lakers,0022000825,2021-04-13,LAL @ CHA,W,240,101,...,0.944,8,30,38,24,9,2,11,18,8.0

In [11]:
playergame = leaguegamefinder.LeagueGameFinder(player_id_nullable='203484')
playergame = playergame.get_data_frames()[0]
playergame

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612747,LAL,Los Angeles Lakers,0022000897,2021-04-22,LAL @ DAL,None,0,5,...,NaN,0,0,0,0,1,0,0,0,1.2
1,22020,1610612747,LAL,Los Angeles Lakers,0022000875,2021-04-19,LAL vs. UTA,L,29,15,...,NaN,0,0,0,0,1,0,0,0,-3.6
2,22020,1610612747,LAL,Los Angeles Lakers,0022000855,2021-04-17,LAL vs. UTA,W,41,25,...,1.0,0,5,5,2,2,1,0,2,2.6
3,22020,1610612747,LAL,Los Angeles Lakers,0022000842,2021-04-15,LAL vs. BOS,L,23,2,...,0.0,0,3,3,2,3,0,0,3,-0.6
4,22020,1610612747,LAL,Los Angeles Lakers,0022000825,2021-04-13,LAL @ CHA,W,34,9,...,1.0,0,3,3,2,0,2,0,1,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661,12013,1610612765,DET,Detroit Pistons,0011300065,2013-10-17,DET @ CLE,L,20,4,...,1.0,1,1,2,1,2,0,2,3,-1.2
662,12013,1610612765,DET,Detroit Pistons,0011300060,2013-10-16,DET @ CHI,L,40,18,...,1.0,2,5,7,1,1,0,1,3,-2.8
663,12013,1610612765,DET,Detroit Pistons,0011300041,2013-10-12,DET @ BKN,W,23,12,...,0.8,1,6,7,1,1,0,2,6,3.2
664,12013,1610612765,DET,Detroit Pistons,0011300030,2013-10-10,DET vs. MIA,L,26,9,...,0.8,2,3,5,2,1,1,1,4,0.2
665,12013,1610612765,DET,Detroit Pistons,0011300020,2013-10-08,DET vs. MAC,W,25,2,...,NaN,1,6,7,1,2,1,2,3,-1.0

In [19]:
playergame.to_csv('kcpstats.csv', index=False)
games_1920.to_csv('lakersstats.csv', index=False)

In [7]:
nba_teams = teams.get_teams()
# Select the dictionary for the Cavs, which contains their team ID
cavs = [team for team in nba_teams if team['abbreviation'] == 'CLE'][0]
cavs_id = cavs['id']

In [8]:
# Query for games where the Cavs were playing
gamefinder_cavs = leaguegamefinder.LeagueGameFinder(team_id_nullable=cavs_id)
# The first DataFrame of those returned is what we want.
games_cavs = gamefinder_cavs.get_data_frames()[0]
games_cavs.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612739,CLE,Cleveland Cavaliers,0022000767,2021-04-05,CLE @ SAS,W,239,125,...,0.852,7,40,47,29,5,4,6,24,24.0
1,22020,1610612739,CLE,Cleveland Cavaliers,0022000749,2021-04-03,CLE @ MIA,L,239,101,...,0.840,5,30,35,25,7,4,15,15,-14.0
2,22020,1610612739,CLE,Cleveland Cavaliers,0022000731,2021-04-01,CLE vs. PHI,L,239,94,...,0.762,4,36,40,26,5,3,18,24,-20.0
3,22020,1610612739,CLE,Cleveland Cavaliers,0022000715,2021-03-29,CLE @ UTA,L,240,75,...,0.625,6,34,40,17,5,5,10,18,-39.0
4,22020,1610612739,CLE,Cleveland Cavaliers,0022000702,2021-03-27,CLE @ SAC,L,240,98,...,0.652,7,29,36,20,11,2,7,13,-2.0

In [23]:
cav_years = ['2006', '2007', '2008', '2009', '2010', '2015', '2016', '2017', '2018']
in_cavs = (games_cavs.SEASON_ID.str[-4:] == cav_years[0])|(games_cavs.SEASON_ID.str[-4:] == cav_years[1])|(games_cavs.SEASON_ID.str[-4:] == cav_years[2])|(games_cavs.SEASON_ID.str[-4:] == cav_years[3])|(games_cavs.SEASON_ID.str[-4:] == cav_years[4])|(games_cavs.SEASON_ID.str[-4:] == cav_years[5])|(games_cavs.SEASON_ID.str[-4:] == cav_years[6])|(games_cavs.SEASON_ID.str[-4:] == cav_years[7])|(games_cavs.SEASON_ID.str[-4:] == cav_years[8])
games_cavs_lebron = games_cavs[in_cavs]
games_cavs_lebron.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
121,22018,1610612739,CLE,Cleveland Cavaliers,0021801209,2019-04-09,CLE vs. CHA,L,240,97,...,0.750,14,27,41,24,3,2,14,18,-27.0
122,22018,1610612739,CLE,Cleveland Cavaliers,0021801196,2019-04-07,CLE vs. SAS,L,240,90,...,0.741,10,25,35,16,14,1,17,16,-22.0
123,22018,1610612739,CLE,Cleveland Cavaliers,0021801191,2019-04-05,CLE @ GSW,L,240,114,...,0.913,12,36,48,21,9,1,5,11,-6.0
124,22018,1610612739,CLE,Cleveland Cavaliers,0021801178,2019-04-04,CLE @ SAC,L,240,104,...,0.556,10,40,50,20,3,1,20,13,-13.0
125,22018,1610612739,CLE,Cleveland Cavaliers,0021801160,2019-04-01,CLE @ PHX,L,241,113,...,0.682,18,30,48,17,5,3,9,24,-9.0

In [28]:
games_cavs_lebron.to_csv('cavs_stats.csv', index=False)

In [10]:
nba_teams = teams.get_teams()
# Select the dictionary for the Heat, which contains their team ID
heat = [team for team in nba_teams if team['abbreviation'] == 'MIA'][0]
heat_id = heat['id']

In [11]:
# Query for games where the Heat were playing
gamefinder_heat = leaguegamefinder.LeagueGameFinder(team_id_nullable=heat_id)
# The first DataFrame of those returned is what we want.
games_heat = gamefinder_heat.get_data_frames()[0]
games_heat.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612748,MIA,Miami Heat,0022000773,2021-04-06,MIA vs. MEM,None,120,57,...,0.500,2,17,19,17,4,2,6,10,-3.0
1,22020,1610612748,MIA,Miami Heat,0022000749,2021-04-03,MIA vs. CLE,W,241,115,...,0.750,4,33,37,35,6,3,11,20,14.0
2,22020,1610612748,MIA,Miami Heat,0022000733,2021-04-01,MIA vs. GSW,W,239,116,...,0.833,5,32,37,30,10,6,11,22,7.0
3,22020,1610612748,MIA,Miami Heat,0022000722,2021-03-31,MIA @ IND,W,241,92,...,0.643,8,34,42,22,5,4,11,14,5.0
4,22020,1610612748,MIA,Miami Heat,0022000710,2021-03-29,MIA @ NYK,W,240,98,...,0.824,12,35,47,22,7,5,12,18,10.0

In [12]:
heat_years = ['2010', '2011', '2012', '2013']
in_heat = (games_cavs.SEASON_ID.str[-4:] == heat_years[0])|(games_cavs.SEASON_ID.str[-4:] == heat_years[1])|(games_cavs.SEASON_ID.str[-4:] == heat_years[2])|(games_cavs.SEASON_ID.str[-4:] == heat_years[3])
games_heat_lebron = games_heat[in_heat]
games_heat_lebron.head()

<ipython-input-12-8ce4b992cdef>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  games_heat_lebron = games_heat[in_heat]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
680,42013,1610612748,MIA,Miami Heat,0041300404,2014-06-12,MIA vs. SAS,L,241,86,...,0.650,6,21,27,13,7,1,13,25,-21.0
681,42013,1610612748,MIA,Miami Heat,0041300403,2014-06-10,MIA vs. SAS,L,241,92,...,0.750,5,21,26,17,8,1,20,26,-19.0
682,42013,1610612748,MIA,Miami Heat,0041300402,2014-06-08,MIA @ SAS,W,241,98,...,0.762,5,33,38,16,6,3,13,20,2.0
683,42013,1610612748,MIA,Miami Heat,0041300401,2014-06-05,MIA @ SAS,L,241,95,...,0.818,7,22,29,16,14,2,16,21,-15.0
684,42013,1610612748,MIA,Miami Heat,0041300306,2014-05-30,MIA vs. IND,W,242,117,...,0.857,8,29,37,24,7,4,9,22,25.0

In [13]:
games_heat_lebron.to_csv('heat_stats.csv', index=False)