In [1]:
from nba_api.stats.endpoints import commonplayerinfo
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder
import pandas as pd
import requests

In [22]:
# Basic Request
player_info = commonplayerinfo.CommonPlayerInfo(player_id=2544)

In [23]:
nba_teams = teams.get_teams()
# Select the dictionary for the Celtics, which contains their team ID
lakers = [team for team in nba_teams if team['abbreviation'] == 'LAL'][0]
lakers_id = lakers['id']
lakers

{'id': 1610612747,
 'full_name': 'Los Angeles Lakers',
 'abbreviation': 'LAL',
 'nickname': 'Lakers',
 'city': 'Los Angeles',
 'state': 'California',
 'year_founded': 1948}

In [24]:
# Query for games where the Lakers were playing
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=lakers_id)
# The first DataFrame of those returned is what we want.
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612747,LAL,Los Angeles Lakers,0022000608,2021-03-15,LAL @ GSW,W,240,128,...,0.760,7,39,46,36,9,3,19,25,31.0
1,22020,1610612747,LAL,Los Angeles Lakers,0022000585,2021-03-12,LAL vs. IND,W,239,105,...,0.769,6,38,44,20,10,5,15,20,5.0
2,22020,1610612747,LAL,Los Angeles Lakers,0022000551,2021-03-03,LAL @ SAC,L,240,120,...,0.714,15,26,41,27,7,3,11,19,-3.0
3,22020,1610612747,LAL,Los Angeles Lakers,0022000542,2021-03-02,LAL vs. PHX,L,240,104,...,0.765,5,29,34,18,6,8,12,23,-10.0
4,22020,1610612747,LAL,Los Angeles Lakers,0022000527,2021-02-28,LAL vs. GSW,W,238,117,...,0.684,14,46,60,22,14,6,19,21,26.0

In [20]:
# Subset the games to when the last 4 digits of SEASON_ID were 2019.
games_1920 = games[games.SEASON_ID.str[-4:] == '2019']
games_1920.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
43,42019,1610612747,LAL,Los Angeles Lakers,0041900406,2020-10-11,LAL @ MIA,W,239,106,...,0.643,12,34,46,23,5,4,12,22,13.0
44,42019,1610612747,LAL,Los Angeles Lakers,0041900405,2020-10-09,LAL vs. MIA,L,240,108,...,0.857,12,29,41,21,10,5,15,21,-3.0
45,42019,1610612747,LAL,Los Angeles Lakers,0041900404,2020-10-06,LAL @ MIA,W,241,102,...,0.857,10,32,42,25,5,4,15,14,6.0
46,42019,1610612747,LAL,Los Angeles Lakers,0041900403,2020-10-04,LAL @ MIA,L,240,104,...,0.759,11,32,43,23,8,2,19,22,-11.0
47,42019,1610612747,LAL,Los Angeles Lakers,0041900402,2020-10-02,LAL vs. MIA,W,240,124,...,0.588,16,28,44,32,6,3,9,26,10.0

In [32]:
playergame = leaguegamefinder.LeagueGameFinder(player_id_nullable='2544')
playergame = playergame.get_data_frames()[0]
playergame

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612747,LAL,Los Angeles Lakers,0022000608,2021-03-15,LAL @ GSW,W,30,22,...,0.667,1,9,10,11,0,0,6,3,6.6
1,22020,1610612747,LAL,Los Angeles Lakers,0022000585,2021-03-12,LAL vs. IND,W,34,18,...,0.636,0,3,3,10,1,0,3,4,2.2
2,32020,1610616834,LBN,Team LeBron,0032000001,2021-03-07,LBN @ DRT,W,13,4,...,NaN,0,2,2,4,0,1,1,0,-0.6
3,22020,1610612747,LAL,Los Angeles Lakers,0022000542,2021-03-02,LAL vs. PHX,L,38,38,...,0.600,0,5,5,6,2,1,3,1,0.4
4,22020,1610612747,LAL,Los Angeles Lakers,0022000527,2021-02-28,LAL vs. GSW,W,24,19,...,0.500,2,4,6,4,2,2,2,2,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1661,22003,1610612739,CLE,Cleveland Cavaliers,0020300038,2003-11-01,CLE @ POR,L,39,8,...,1.000,0,4,4,6,2,0,2,3,-4.2
1662,22003,1610612739,CLE,Cleveland Cavaliers,0020300018,2003-10-30,CLE @ PHX,L,41,21,...,0.571,2,10,12,8,1,0,7,1,-0.6
1663,22003,1610612739,CLE,Cleveland Cavaliers,0020300014,2003-10-29,CLE @ SAC,L,42,25,...,0.333,2,4,6,9,4,0,2,3,-1.8
1664,12003,1610612739,CLE,Cleveland Cavaliers,0010300011,2003-10-08,CLE @ ATL,W,5,6,...,NaN,0,3,3,3,2,0,3,3,NaN
1665,12003,1610612739,CLE,Cleveland Cavaliers,0010300003,2003-10-07,CLE @ DET,W,5,8,...,NaN,0,3,3,7,1,2,3,2,NaN

In [36]:
playergame.to_csv('lebronstats.csv', index=False)
games_1920.to_csv('lakersstats.csv', index=False)

In [4]:
nba_teams = teams.get_teams()
# Select the dictionary for the Cavs, which contains their team ID
cavs = [team for team in nba_teams if team['abbreviation'] == 'CLE'][0]
cavs_id = cavs['id']

1610612739

In [5]:
# Query for games where the Cavs were playing
gamefinder_cavs = leaguegamefinder.LeagueGameFinder(team_id_nullable=cavs_id)
# The first DataFrame of those returned is what we want.
games_cavs = gamefinder_cavs.get_data_frames()[0]
games_cavs.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612739,CLE,Cleveland Cavaliers,0022000620,2021-03-17,CLE vs. BOS,W,241,117,...,0.818,7,33,40,23,6,3,15,17,7.0
1,22020,1610612739,CLE,Cleveland Cavaliers,0022000610,2021-03-16,CLE @ MIA,L,241,98,...,0.714,15,27,42,23,7,6,14,19,-15.0
2,22020,1610612739,CLE,Cleveland Cavaliers,0022000597,2021-03-14,CLE @ ATL,L,241,82,...,0.522,14,20,34,19,4,5,13,18,-18.0
3,22020,1610612739,CLE,Cleveland Cavaliers,0022000581,2021-03-12,CLE @ NOP,L,240,82,...,0.750,5,28,33,13,8,9,6,18,-34.0
4,22020,1610612739,CLE,Cleveland Cavaliers,0022000543,2021-03-03,CLE vs. IND,L,239,111,...,0.933,11,32,43,29,8,1,25,18,-3.0

In [23]:
cav_years = ['2006', '2007', '2008', '2009', '2010', '2015', '2016', '2017', '2018']
in_cavs = (games_cavs.SEASON_ID.str[-4:] == cav_years[0])|(games_cavs.SEASON_ID.str[-4:] == cav_years[1])|(games_cavs.SEASON_ID.str[-4:] == cav_years[2])|(games_cavs.SEASON_ID.str[-4:] == cav_years[3])|(games_cavs.SEASON_ID.str[-4:] == cav_years[4])|(games_cavs.SEASON_ID.str[-4:] == cav_years[5])|(games_cavs.SEASON_ID.str[-4:] == cav_years[6])|(games_cavs.SEASON_ID.str[-4:] == cav_years[7])|(games_cavs.SEASON_ID.str[-4:] == cav_years[8])
games_cavs_lebron = games_cavs[in_cavs]
games_cavs_lebron.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
121,22018,1610612739,CLE,Cleveland Cavaliers,0021801209,2019-04-09,CLE vs. CHA,L,240,97,...,0.750,14,27,41,24,3,2,14,18,-27.0
122,22018,1610612739,CLE,Cleveland Cavaliers,0021801196,2019-04-07,CLE vs. SAS,L,240,90,...,0.741,10,25,35,16,14,1,17,16,-22.0
123,22018,1610612739,CLE,Cleveland Cavaliers,0021801191,2019-04-05,CLE @ GSW,L,240,114,...,0.913,12,36,48,21,9,1,5,11,-6.0
124,22018,1610612739,CLE,Cleveland Cavaliers,0021801178,2019-04-04,CLE @ SAC,L,240,104,...,0.556,10,40,50,20,3,1,20,13,-13.0
125,22018,1610612739,CLE,Cleveland Cavaliers,0021801160,2019-04-01,CLE @ PHX,L,241,113,...,0.682,18,30,48,17,5,3,9,24,-9.0

In [28]:
games_cavs_lebron.to_csv('cavs_stats.csv', index=False)

In [30]:
nba_teams = teams.get_teams()
# Select the dictionary for the Heat, which contains their team ID
heat = [team for team in nba_teams if team['abbreviation'] == 'MIA'][0]
heat_id = heat['id']

In [31]:
# Query for games where the Heat were playing
gamefinder_heat = leaguegamefinder.LeagueGameFinder(team_id_nullable=heat_id)
# The first DataFrame of those returned is what we want.
games_heat = gamefinder_heat.get_data_frames()[0]
games_heat.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612748,MIA,Miami Heat,0022000623,2021-03-17,MIA @ MEM,L,239,85,...,0.722,8,43,51,17,4,2,10,21,-4.0
1,22020,1610612748,MIA,Miami Heat,0022000610,2021-03-16,MIA vs. CLE,W,239,113,...,0.905,16,32,48,30,11,5,13,18,15.0
2,22020,1610612748,MIA,Miami Heat,0022000596,2021-03-14,MIA @ ORL,W,238,102,...,0.933,10,33,43,28,15,6,11,17,5.0
3,22020,1610612748,MIA,Miami Heat,0022000582,2021-03-12,MIA @ CHI,W,240,101,...,0.750,1,40,41,26,11,6,9,13,11.0
4,22020,1610612748,MIA,Miami Heat,0022000571,2021-03-11,MIA vs. ORL,W,241,111,...,0.591,9,35,44,27,8,4,10,16,8.0

In [35]:
heat_years = ['2011', '2012', '2013', '2014']
in_heat = (games_cavs.SEASON_ID.str[-4:] == heat_years[0])|(games_cavs.SEASON_ID.str[-4:] == heat_years[1])|(games_cavs.SEASON_ID.str[-4:] == heat_years[2])|(games_cavs.SEASON_ID.str[-4:] == heat_years[3])
games_heat_lebron = games_heat[in_heat]
games_heat_lebron.head()

<ipython-input-35-0c48c38d3db2>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  games_heat_lebron = games_heat[in_heat]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
556,12015,1610612748,MIA,Miami Heat,0011500022,2015-10-07,MIA vs. ORL,L,239,97,...,0.763,11,28,39,22,6,4,20,24,-3.0
557,12015,1610612748,MIA,Miami Heat,0011500006,2015-10-04,MIA vs. CHA,L,240,77,...,0.700,9,39,48,19,9,4,14,24,-13.0
558,22015,1610612748,MIA,Miami Heat,1521500054,2015-07-17,MIA vs. SAC,L,210,68,...,0.833,9,30,39,14,13,5,22,28,-5.0
559,22015,1610612748,MIA,Miami Heat,1521500039,2015-07-15,MIA @ ATL,L,200,64,...,0.652,10,17,27,9,12,1,16,24,-11.0
560,22015,1610612748,MIA,Miami Heat,1521500035,2015-07-14,MIA @ BOS,L,200,69,...,0.684,12,24,36,12,4,5,15,27,-32.0

In [36]:
games_heat_lebron.to_csv('heat_stats.csv', index=False)